.right-arr,
.left-arr {
    position: absolute;
    top: 462px;
    z-index: 999;
}
/*TODO эффект при наведении*/

.right-arr:hover,
.left-arr:hover {} .left-arr {
    left: 6%;
}
.right-arr {
    right: 6%;
}
.right-arr:hover,
.left-arr:hover {
    cursor: pointer;
}