.email {
    margin-top: 135px;
    margin-bottom: 70px;
}
.email .email-form-xs {
    display: none;
}
.email-form-xs .btn {
    margin-top: 15px;
}
.email p {
    color: #3f3f3f;
    font-size: 30px;
}
.email .input-group {
    margin-top: 26px;
}
.email input,
.email .btn {
    height: 60px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-family: PFAgoraSansPro-Thin;
}
.email .btn {
    background-color: #185dab;
}