.email {
    margin-top: 110px;
    margin-bottom: 130px;
}
.email p {
    color: #3f3f3f;
    font-size: 30px;
}
.email .input-group {
    margin-top: 26px;
}
.email input,
.email .btn {
    height: 60px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-family: PFAgoraSansPro-Thin;
}
.email .btn {
    background-color: #185dab;
}
.validation-result {
    padding-top: 10px;
    font-size: 25px;
    font-family: PFAgoraSansPro-Thin;
}

.has-warning {
    border-color: #3f3f3f;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 63, 63, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 63, 63, 0.6);
}
.has-warning::-moz-placeholder{ 
    color: #3f3f3f;
}
.has-warning::-webkit-input-placeholder { 
    color: #3f3f3f;
}
.text-warning {
    color: #3f3f3f;
}

.has-danger {
    border-color: #E96666;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
.text-danger {
    color: #a94442;
}

.text-done {
    color: #ffffff;
}

.email-container {
    position: relative;
    clear: both;
}
