@font-face {
	font-family: "PFAgoraSansPro";
	src: url('/fonts/PFAgoraSansPro-Reg.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PFAgoraSansPro-Thin";
	src: url('/fonts/PFAgoraSansPro-Thin.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PFAgoraSlabPro-UltraBlack";
	src: url('/fonts/PFAgoraSlabPro-UltraBlack.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}