.footer{
    margin-top: 60px;
    padding: 0px;
}
.footer p {
    color: #3f3f3f;
    font-size: 30px;
}
.footer a {
    margin-top: 25px;
    color: #3f3f3f;
}

.sponsors {
    margin-top: 25px;    
}
.sponsors p {
    font-family: PFAgoraSlabPro-UltraBlack;
    text-decoration: underline;
}
.contacts {
    font-family: PFAgoraSlabPro-UltraBlack;
    margin-top: 45px;
}
.contacts div {
    margin-top: 20px;
}
.contacts div p {
    font-size: 22px;
}

.contacts span {
    font-family: PFAgoraSansPro;
    color: #a0a0a0;
    font-size: 20px;
    width: 83.3333%;
}
.mail {
    text-decoration: underline;
}

.copyright a {
        color: #a0a0a0;
        font-size: 20px;
        margin-top: 90px;
}

.copyright a:hover {
    text-decoration: none;
}


