.happy-dev-href {
    margin-top: 18px;     
    width: 100%;
    text-align: right;
}
.happy-dev-href a {
    color: #000000;
    text-decoration: underline;
    font-size: 22px;
}

.logo {
    margin-top: 13px;
}
.logo img {
    width: 147px;
}
.event-title {
    margin-top: 36px;
    font-size: 62px;
}
.happy-dev span{
    font-family: PFAgoraSlabPro-UltraBlack;
}
.lite {
    color: #185dab;
    font-family:PFAgoraSansPro-Thin;
}
.event-description {
    margin-top: 20px;
    color: #3f3f3f;
    font-size: 29px;
}

.social {
    margin-top: 85px;
    width: 128px;
}
.social a {
    padding-right: 6.5px;
    padding-left: 6.5px;
    text-decoration: none;
}
.date {
    margin-top: 26px;
}
.date p {
    color: #000000;    
    text-transform: uppercase;
    font-size: 25px;
}