.happy-dev-href {
    margin-top: 18px;
}
.happy-dev-href span {
    color: #000000;
    text-decoration: underline;
    font-size: 22px;
}

.happy-dev-href a:hover {
    text-decoration: none;
}

.logo {
    padding-top: 35px;
}
.logo img {
    width: 147px;
    
}
.logo a {
    text-decoration: none;
    color:#000000;
} 
.lgo a:hover {
    text-decoration: none;
}
.event-title {
    margin-top: 36px;
    font-size: 62px;
}
.happy-dev span{
    font-family: PFAgoraSlabPro-UltraBlack;
}
.lite {
    color: #185dab;
    font-family:PFAgoraSansPro-Thin;
}
.event-description {
    margin-top: 20px;
    color: #3f3f3f;
    font-size: 29px;
}


.header-row {
    position: relative;
}
