@media (max-width: 900px) {
    .right-arr,
    .left-arr {
        top: 430px;
    }
    .social {
        margin-top: 55px;
    }
    .email {
        margin-top: 105px;
    }
    .talks-block .content {
        margin-top: 18px;
        font-size: 20px;
    }
    .white-back {
        padding-bottom: 55px;
    }
    .talks {
        margin-top: 55px;
    }
    .footer {
        margin-top: 55px;
        margin-bottom: 45px;
    }
    .footer a {
        margin-top: 20px;
    }
    .opinion-2 {
        margin-top: 55px;
    }
    .carousel-1 {
        background-position: 90% -170px;
    }
    .carousel-2 {
        background-position: 50% -290px;
    }
    .carousel-4 {
        background-position: 85% -295px;
    }
    .carousel-6 {
        background-position: 70% -65px;
    }
    .carousel-7 {
        background-position: 100% -240px;
    }
}
@media (max-width: 600px) {
    .happy-dev-href a {
        font-size: 20px;
    }
    .right-arr,
    .left-arr {
        top: 410px;
    }
    .right-arr img,
    .left-arr img {
        width: 40px;
    }
    .social {
        margin-top: 20px;
    }
    .email {
        margin-top: 80px;
    }
    .email p {
        font-size: 25px;
    }
    .email input,
    .email .btn {
        height: 50px;
        font-size: 20px;
    }
    .talks-block .content {
        font-size: 18px;
    }
    .carousel-1 {
        background-position: 82% -210px;
    }
    .carousel-2 {
        background-position: 50% -390px;
    }
    .carousel-3 {
        background-position: 65% -230px;
    }
    .carousel-4 {
        background-position: 73% -295px;
    }
    .carousel-5 {
        background-position: 35% -280px;
    }
}
@media (max-width: 530px) {
    .content,
    .position,
    .name {
        clear: both;
    }
    .talks-block .name {
        font-size: 26px;
    }
    .talks-block .position,
    .talks-block .position a {
        font-size: 16px;
    }
    .talks-block .content {
        font-size: 20px;
    }
    .opinion-2 {
        margin-top: 45px;
    }
}
@media (max-width: 500px) {
    .email-form {
        width: 100%;
    }
    .share a {
        width: 100%;
    }
    .share-logo {
        margin-right: 5px;
    }
    .share-counter {
        width: 145px;
    }
    .share-counter div {
        float: left;
    }
    .share-block .share-logo {
        width: 50px;
    }
    .share img {
        float: right;
    }
}
@media (max-width: 455px) {
    .right-arr,
    .left-arr {
        top: 383px;
    }
    .happy-dev-href a {
        font-size: 18px;
    }
    .event-title {
        font-size: 36px;
    }
    .event-description {
        margin-top: 10px;
        font-size: 20px;
    }
    .social {
        margin-top: 55px;
    }
    .date {
        margin-top: 16px;
    }
    .date p {
        font-size: 20px;
    }
    /*separation of email input form */
    .email {
        margin-top: 105px;
    }
    .email .email-form {
        display: none;
    }
    .email .email-form-xs {
        display: block;
    }
    .email p {
        font-size: 20px;
    }
    .white-back {
        padding-bottom: 45px;
    }
    .share p {
        margin-bottom: 0px;
    }
    .talks-block .name {
        font-size: 24px;
    }
    .talks-block .position,
    .talks-block .position a {
        font-size: 14px;
    }
    .talks-block .content {
        font-size: 18px;
    }
    .talks {
        margin-top: 45px;
    }
    .talks-block {
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 20px;
        padding-left: 15px;
    }
    .opinion-2 {
        margin-top: 25px;
    }
    .footer {
        margin-top: 45px;
        margin-bottom: 35px;
    }
    .footer a {
        margin-top: 15px;
    }
    .carousel-1 {
        background-position: 78% -255px;
    }
    .carousel-2 {
        background-position: 50% -400px;
    }
    .carousel-4 {
        background-position: 73% -295px;
    }
    .carousel-5 {
        background-position: 35% -280px;
    }
    .carousel-6 {
        background-position: 75% -65px;
    }
    .carousel-7 {
        background-position: 95% -240px;
    }
}
@media (max-width: 330px) {
    .right-arr,
    .left-arr {
        top: 390px;
    }
    .right-arr img,
    .left-arr img {
        width: 35px;
    }
    .happy-dev-href a {
        font-size: 16px;
    }
    .social {
        margin-top: 40px;
    }
    .email {
        margin-top: 90px;
    }
    .talks-block .name {
        font-size: 20px;
    }
    .talks-block .position,
    .talks-block .position a {
        font-size: 13px;
    }
    .talks-block .content {
        font-size: 16px;
    }
    .carousel-1 {
        background-position: 75% -320px;
    }
    .carousel-2 {
        background-position: 49% -500px;
    }
    .carousel-3 {
        background-position: 67% -230px;
    }
    .carousel-7 {
        background-position: 90% -325px;
    }
}