.share {
    margin-top: 18px;
    line-height: 43px;
}
.share p {
    margin-bottom: 0px;
    color: #000;
    font-size: 22px;
}
.share a {
    margin: 0px 7.5px;
    /*margin-top: 10px;*/
}
.share img,
.share div {
    vertical-align: middle;
}
.share a,
.share div {
    display: inline-block;
    text-decoration: none;
}
.share .share-logo {
    display: block;
}
.share .logo-vk {
    width: 40px;
}
.share .logo-tw {
    width: 27px;
}

.tw-counter,
.vk-counter,
.fb-counter {
    position: relative;
    border: 4px solid #000;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.tw-counter:before,
.vk-counter:before,
.fb-counter:before {
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0; 
    left: 14px;
    top: 38px;
    border: 12px solid;
    border-top-color: black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.share .counter {
    margin: 0;
    padding: 6px 18px;
    color: #000;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}

.share-hovered {
    cursor: pointer;
}
.share-hovered .tw-counter, 
.share-hovered .tw-counter .counter{
    border-color: #00aeef;
    color: #00aeef;
}

.share-hovered .tw-counter:before{
    border-top-color:#00aeef;
}
.share-hovered .vk-counter:before{
    border-top-color:#45668e;
}
.share-hovered .vk-counter,
.share-hovered .vk-counter .counter {
    border-color: #45668e;
    color: #45668e;
}
.share-hovered .fb-counter,
.share-hovered .fb-counter .counter {
    border-color: #3b5998;
    color: #3b5998;
}
