.share {
    line-height: 43px;
}
.share p {
    margin-bottom: 15px;
    color: #3f3f3f;
    font-size: 30px;
}
.share a {
    margin: 0px 7.5px;
    margin-top: 10px;
}
.share img,
.share div {
    vertical-align: middle;
}
.share a,
.share div {
    display: inline-block;
    text-decoration: none;
}
.tw-counter,
.vk-counter,
.fb-counter {
    border: 4px solid #c1c1c1;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.share .counter {
    margin: 0;
    padding: 6px 18px;
    color: #c1c1c1;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}

.share-hovered {
    cursor: pointer;
}
.share-hovered .tw-counter, 
.share-hovered .tw-counter .counter{
    border-color: #00aeef;
    color: #00aeef;
}

.share-hovered .vk-counter,
.share-hovered .vk-counter .counter {
    border-color: #45668e;
    color: #45668e;
}
.share-hovered .fb-counter,
.share-hovered .fb-counter .counter {
    border-color: #3b5998;
    color: #3b5998;
}
