.share {
    line-height: 43px;
}
.share p {
    margin-bottom: 15px;
    color: #3f3f3f;
    font-size: 30px;
}
.share a {
    margin: 0px 7.5px;
    margin-top: 10px;
}
.share img,
.share div {
    vertical-align: middle;
}
.share a,
.share div {
    display: inline-block;
    text-decoration: none;
}
.share a:hover img {
    display: none;
}
.share a:hover .hovered-img {
    display: inline;
}
.hovered-img {
    display: none;
}
.share .tw-counter,
.vk-counter,
.fb-counter {
    border: 4px solid #c1c1c1;
    border-radius: 25px;
}
.share .counter {
    margin: 0;
    padding: 6px 18px;
    color: #c1c1c1;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}
.share .tw-share:hover .tw-counter,
.tw-share:hover .tw-counter .counter {
    border-color: #00aeef;
    color: #00aeef;
}
.share .vk-share:hover .vk-counter,
.vk-share:hover .vk-counter .counter {
    border-color: #45668e;
    color: #45668e;
}
.share .fb-share:hover .fb-counter,
.fb-share:hover .fb-counter .counter {
    border-color: #3b5998;
    color: #3b5998;
}