.left-arr {
    left: 0;  
}
.right-arr {
    right: 0;  
}

.left-arr, .right-arr {
    position: absolute;
    top: 0;
}


/*TODO эффект при наведении*/

.right-arr:hover,
.left-arr:hover {
    cursor: pointer;
}

.social {
    margin-top: 60px;
    width: 150px;
}
.social a {
    padding-right: 6.5px;
    padding-left: 6.5px;
    text-decoration: none;
}
.date {
    margin-top: 26px;
}

.date span {
    text-transform: lowercase;
}
.date p {
    color: #000000;    
    text-transform: uppercase;
    font-size: 25px;
}

.social-container {
    position: relative;
    width: 90%;
}
