body {
    
}
.col-centred {
    float: none;
    margin: 0 auto;
}
.container-fluid {
    min-width: 320px; 
    padding: 0px;    
    width: 100%;
    font-family: PFAgoraSansPro;
}
.overlay {
    background: rgba(132, 164, 201, 0.44);
}
.page-content {
    position: absolute;
    top: 0;
    left: 0;
}
.container {
    max-width: 930px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.white-back {
    background: #ffffff;
    padding-bottom: 20px;
}

.hided {
    display: none;
}
.inline {
    display: inline;
}